<!doctype html>
<html ng-app>
<head>
    <script src="angular.js"></script>
    <script src="list.js"></script>

    <link rel="stylesheet" href="list.css">
    <link href="map.json">
    <link href="bootstrap.css" rel="stylesheet" />
    <link href="bootstrap-theme.css" rel="stylesheet" />
</head>
<body>
    <div style="width:400px; margin:0 auto">
        <h2 class="h1">Список покупок</h2>
        <div class="panel" ng-controller="ListCtrl">
            <span class="h4">Осталось {{remain()}} из {{items.length}}</span>
             <table class="table table-striped">
                <tbody>
                    <tr ng-repeat="item in items">
                      <td><input class="checkbox-inline" type="checkbox" ng-model="item.done"></td>
                        <td><span class="done-{{item.done}}">{{item.text}}</span></td>
                    </tr>
                </tbody>
            </table>
            
            <form ng-submit="addItem()">
                <input class="form-control" type="text" ng-model="itemText" size="30"
                       placeholder="Добавить покупку.">
                <input class="btn btn-primary" type="submit" value="Добавить">
            </form>
        </div>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d5080.204966317781!2d30.63057102941089!3d50.457816267905535!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d50.4594807!2d30.6307701!4m5!1s0x0%3A0x959617a30744a516!2z0JDRiNCw0L0!3m2!1d50.4548819!2d30.6382215!5e0!3m2!1suk!2sua!4v1485464340616" width="100%" height="400" frameborder="0" style="border:0; overflow: hidden;"></iframe>
</body>
</html>
