body {
    margin: 0 20px;
    padding: 0;
    display: inline-block;
    width: 94%;
    font-family: Tahoma;
    font-size: 16px;
}
p, input {
    padding: 0;
    margin: 0;
    width: 97%;
}
input {
    height: 25px;
}
.radio {
    height: 20px;
    width: auto;
    vertical-align:middle;
}
.del {
    margin: 20px 5px;
    width: 46%;
    /*margin-right: 10px;*/
    display: inline;
}
.sort_but {
    margin: 20px 5px;
    width: 30%;

}
#info {
    float: right;
}
#input {
    float: left;
}
#input, #info {
    margin: 0;
    padding: 0;
    width: 45%;
}
#add, #delete, #list, #sort{
    margin-top: 10px;
    padding: 0;
    height: 35px;
    width: 47%;
}
#close {
    margin: 10px 0;
    padding: 0;
    height: 35px;
    width: 95%;
}
table {
    width: 97%;
    border: 3px solid black;
    border-collapse: collapse;
    text-align: center;
}
th {
    border-bottom: 2px solid black;
}
td {
    min-width: 20%;
    border: 1px solid black;
    padding: 5px;
}